.topseller{
    width: 100vw;
    display: flex;

    flex-direction: column;
    align-items: center;
    button.active{
        padding: 5px;
        border-radius: 5px;
        background-color: white;
        border: 1.5px solid black;
        color: black;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 350;
        transition: 0.5s ease-in-out;
    }
    button{
        padding: 5px;
        border-radius: 5px;
        background-color: white;
        border: 1.5px solid #c7c7c7;
        cursor: pointer;
        font-size: 1rem;
        color: #c7c7c7;
        font-weight: 350;
    }
    h1{
        margin-bottom: 20px;
    }
}

.topsellercata{
    display: flex;
    gap: 8px;
}

.card-container{
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 25px 10px 80px 10px;
    
}