.an2{
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: nowrap;
    
    overflow: hidden;
    
}

.textwrap{
    margin: 100px 0 100px 0;
    width: 100%;
}
.an2text{
    width: 100%;
    display: flex;
    gap: 20px;
    animation: move 40s infinite linear;
    h1{
        font-weight: 300;
        font-size: 3rem;
        span{
            font-weight: 800;
        }
    }
}



@keyframes move {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
    
    
}