.Subhero{
    
    display: flex;
    justify-content: center;
    position: relative;

}
.Subhero-wrapper {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 200px;
    justify-items: center;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .Subhero-wrapper{
        grid-template-columns: 1fr;
        gap: 0;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .Subhero-wrapper{
        grid-template-columns: 1fr;
        gap: 0;
    }
}