nav {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  position: sticky;
  top: 0;
  z-index: 2;
}

.nav-container {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-wrapper {
  display: flex;
  align-items: center;
  gap: 50px;
}
.nav-wrapper ul {
  display: flex;
  gap: 55px;
  align-items: center;
  height: auto;
}
.nav-wrapper ul li {
  cursor: pointer;
  list-style-type: none;
  font-size: 0.85rem;
  font-weight: 450;
}
.nav-account {
  display: flex;
  align-items: center;
  gap: 20px;
  p {
    font-size: 0.85rem;
    font-weight: 350;
  }
  span {
    padding: 1px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
  }
}
.resnav{
    display: none;
    position: absolute;
    background: white;
    width: 100%;
    height: 100vh;
    padding: 20px 50px;
    transition: transform 0.3s;
    transform: translateX(-100);
    ul{
        li{
           list-style: none;
            font-size: 2rem;
            font-weight: 500;
            margin-bottom: 20px;
            cursor: pointer;
        }
    }
}
.burger{
    display: none;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .nav-wrapper{
        gap: 0;
        
    }
    .burger{
        display: inline-block;
        font-size: 2rem;
        cursor: pointer;
    }
    .resnav{
        display: inline-block;
        
    }
    .nav-wrapper ul{
        display: none;
    }
    .nav-account{
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .nav-wrapper{
        gap: 0;
        
    }
    .burger{
        display: inline-block;
        font-size: 2rem;
        cursor: pointer;
    }
    .resnav{
        display: inline-block;
        
    }
    .nav-wrapper ul{
        display: none;
    }
    .nav-account{
        display: none;
    }
}


